@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root { 
  --background: 223.8136 -172.5242% 100.0000%; 
  --foreground: 223.8136 0.0000% 3.9388%; 
  --card: 223.8136 -172.5242% 100.0000%; 
  --card-foreground: 223.8136 0.0000% 3.9388%; 
  --popover: 223.8136 -172.5242% 100.0000%; 
  --popover-foreground: 223.8136 0.0000% 3.9388%; 
  --primary: 223.8136 0.0000% 9.0527%; 
  --primary-foreground: 223.8136 0.0004% 98.0256%; 
  --secondary: 223.8136 0.0002% 96.0587%; 
  --secondary-foreground: 223.8136 0.0000% 9.0527%; 
  --muted: 223.8136 0.0002% 96.0587%; 
  --muted-foreground: 223.8136 0.0000% 45.1519%; 
  --accent: 223.8136 0.0002% 96.0587%; 
  --accent-foreground: 223.8136 0.0000% 9.0527%; 
  --destructive: 351.7303 123.6748% 40.5257%; 
  --destructive-foreground: 223.8136 -172.5242% 100.0000%; 
  --border: 223.8136 0.0001% 89.8161%; 
  --input: 223.8136 0.0001% 89.8161%; 
  --ring: 223.8136 0.0000% 63.0163%; 
  --chart-1: 211.7880 101.9718% 78.6759%; 
  --chart-2: 217.4076 91.3672% 59.5787%; 
  --chart-3: 221.4336 86.3731% 54.0624%; 
  --chart-4: 223.6587 78.7180% 47.8635%; 
  --chart-5: 226.5426 70.0108% 39.9224%; 
  --sidebar: 223.8136 0.0004% 98.0256%; 
  --sidebar-foreground: 223.8136 0.0000% 3.9388%; 
  --sidebar-primary: 223.8136 0.0000% 9.0527%; 
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%; 
  --sidebar-accent: 223.8136 0.0002% 96.0587%; 
  --sidebar-accent-foreground: 223.8136 0.0000% 9.0527%; 
  --sidebar-border: 223.8136 0.0001% 89.8161%; 
  --sidebar-ring: 223.8136 0.0000% 63.0163%; 
  --font-sans: Work Sans, ui-sans-serif, sans-serif, system-ui; 
  --font-serif: Lora, ui-serif, serif; 
  --font-mono: JetBrains Mono, ui-monospace, monospace; 
  --radius: 0.625rem; 
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05); 
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05); 
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10); 
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10); 
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10); 
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10); 
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10); 
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25); 
  --tracking-normal: 0em; 
  --spacing: 0.25rem; 
  --brand: 27 96% 61%;
  --brand-foreground: 31 97% 72%;
}

.dark { 
  --background: 52.5062 33.3996% 94.9582%; 
  --foreground: 227.1466 46.9497% 4.6511%; 
  --card: 52.5030 21.9097% 92.3530%; 
  --card-foreground: 227.1466 46.9497% 4.6511%; 
  --popover: 52.3391 23.9960% 86.0850%; 
  --popover-foreground: 227.1466 46.9497% 4.6511%; 
  --primary: 42.2777 203.8855% 31.6788%; 
  --primary-foreground: 223.8136 0.0004% 98.0256%; 
  --secondary: 33.0888 53.8201% 17.1065%; 
  --secondary-foreground: 223.8136 0.0004% 98.0256%; 
  --muted: 223.9840 9.3699% 80.1953%; 
  --muted-foreground: 224.8127 18.6904% 42.4109%; 
  --accent: 197.7434 181.2304% 31.5647%; 
  --accent-foreground: 223.8136 0.0004% 98.0256%; 
  --destructive: 358.7594 101.8439% 69.8357%; 
  --destructive-foreground: 223.8136 0.0004% 98.0256%; 
  --border: 52.4907 9.8741% 83.3451%; 
  --input: 52.4997 16.2797% 89.7617%; 
  --ring: 37.5727 59.6183% 36.7079%; 
  --chart-1: 211.7880 101.9718% 78.6759%; 
  --chart-2: 217.4076 91.3672% 59.5787%; 
  --chart-3: 221.4336 86.3731% 54.0624%; 
  --chart-4: 223.6587 78.7180% 47.8635%; 
  --chart-5: 226.5426 70.0108% 39.9224%; 
  --sidebar: 31.6759 22.1330% 15.2120%; 
  --sidebar-foreground: 223.8136 0.0004% 98.0256%; 
  --sidebar-primary: 225.3451 84.0953% 48.9841%; 
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%; 
  --sidebar-accent: 51.9531 11.3456% 24.1779%; 
  --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%; 
  --sidebar-border: 223.8136 0.0000% 28.0604%; 
  --sidebar-ring: 224.0410 4.1029% 39.6035%; 
  --font-sans: Work Sans, ui-sans-serif, sans-serif, system-ui; 
  --font-serif: Lora, ui-serif, serif; 
  --font-mono: JetBrains Mono, ui-monospace, monospace; 
  --radius: 0.625rem; 
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05); 
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05); 
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10); 
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10); 
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10); 
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10); 
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10); 
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25); 
  --brand: 31 97% 72%;
  --brand-foreground: 27 96% 61%;
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-700 {
    animation-delay: 700ms;
  }
  .delay-1000 {
    animation-delay: 1000ms;
  }
}
